+pageHeading title='Page one'
.wrapper.wrapper-content.animated.fadeInRight
  .row
    .col-lg-12
      .text-center.m-t-lg
        h1
          | Welcome to the Stratus Seed Project
        small
          | It is an application skeleton for a typical Meteor web app. You can use it to quickly bootstrap your webapp projects and dev environment for these projects.
    +projectList
