template(name='navigation')
  nav.navbar-default.navbar-static-side(role='navigation')
    .sidebar-collapse
      // Close canvas menu used only on OffCanvas page
      // You can remove this tag if you dont use offCanvas menu
      a.close-canvas-menu
        i.fa.fa-times
      // End offCanvas menu toggle
      ul#side-menu.nav
        li.nav-header
          .dropdown.profile-element
            a.dropdown-toggle(data-toggle='dropdown', href='#')
              span.clear
                span.block.m-t-xs
                  strong.font-bold Example user
                span.text-muted.text-xs.block
                  | user
                  b.caret
            ul.dropdown-menu.animated.fadeInRight.m-t-xs
              li
                a(href='#') Item
              li
                a(href='#') Item
              li.divider
              li
                a(href='#') stuff
          .logo-element
            i.fa.fa-cloud
            | NS
        li(class="#{isActiveRoute regex='pageOne'}")
          a(href="#{pathFor route='pageOne'}")
            i.fa.fa-dashboard
            span.nav-label Page One
        li(class="#{isActiveRoute regex='pageTwo'}")
          a(href="#{pathFor route='pageTwo'}")
            i.fa.fa-diamond
            span.nav-label Page Two
