// Wrapper
#wrapper
  // Navigation
  | {{> navigation }}
  // Page wraper
  #page-wrapper.gray-bg
    // Page wrapper
    | {{> topNavbar }}
    // Main view
    | {{> yield}}
    // Footer
    | {{> footer }}
  // End page wrapper
// End wrapper
